.button-edit-details {
    background: #C4C4C4;
    width: 150px;
    height: 50px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: none;
    margin-top: 50px;
}
.view-cart-edit-details {
    background: #FAFAFA;
    padding: 20px;
    max-height: 200px; 
    text-align: center;
}